.col-md-12{
    padding: 10%;
}
.form-control{
    height: 50px;
}
.title{
    margin-left: 25%;
    text-align: center;
}
.text{
    font-size: 20px;
    color: black;
    text-align: center;
}
.textRemember{
    color: black;
    margin-left: 36%;
}
.voteIcon{
    width: 7%;
}
.downloadIcon{
    width: 7%;
}
.btn{
    margin-left: 43%;
    color: black;
    font-size: 25px;
    background-color: #A6C4FE;
}
.modal-body{
    padding: 0px !important;
}