<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Styles/_José/grillaActualizar.css">
</head>

<body>
    <div class="row">
        <div class="columnLeft">
            <div class="container">
                <img src="../../Assets/Images/imagen1.jpg" alt="imagen0" class="imageShort">
                <div class="overlayButton">
                    <div class="textAuth">Estado: Publico</div>
                    <div class="icons">
                        <a href="#"><img src="../../Assets/Icons/pencil.svg" alt="heart" class="pencilIcon"></a>
                        <a href="#"><img src="../../Assets/Icons/trash.svg" alt="download" class="trashIcon"></a>
                    </div>
                </div>
                <div class="overlayTop">
                    <div class="icons">
                        <img src="../../Assets/Icons/heartWhite.svg" alt="heart" class="voteIcon">
                        <p class="textVote">30</p>
                        <img src="../../Assets/Icons/download.svg" alt="download" class="downloadIcon">
                        <p class="textDownload">20</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="../../Assets/Images/imagen8.jpg" alt="imagen0" class="imageShort">
                <div class="overlayButton">
                    <div class="textAuth">Estado: Publico</div>
                    <div class="icons">
                        <a href="#"><img src="../../Assets/Icons/pencil.svg" alt="heart" class="pencilIcon"></a>
                        <a href="#"><img src="../../Assets/Icons/trash.svg" alt="download" class="trashIcon"></a>
                    </div>
                </div>
                <div class="overlayTop">
                    <div class="icons">
                        <img src="../../Assets/Icons/heartWhite.svg" alt="heart" class="voteIcon">
                        <p class="textVote">30</p>
                        <img src="../../Assets/Icons/download.svg" alt="download" class="downloadIcon">
                        <p class="textDownload">20</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnCenter">
            <div class="container">
                <img src="../../Assets/Images/imagen2.jpg" alt="imagen0" class="imageShort">
                <div class="overlayButton">
                    <div class="textAuth">Estado: Privado</div>
                    <div class="icons">
                        <a href="#"><img src="../../Assets/Icons/pencil.svg" alt="heart" class="pencilIcon"></a>
                        <a href="#"><img src="../../Assets/Icons/trash.svg" alt="download" class="trashIcon"></a>
                    </div>
                </div>
                <div class="overlayTop">
                    <div class="icons">
                        <img src="../../Assets/Icons/heartWhite.svg" alt="heart" class="voteIcon">
                        <p class="textVote">30</p>
                        <img src="../../Assets/Icons/download.svg" alt="download" class="downloadIcon">
                        <p class="textDownload">20</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="../../Assets/Images/imagen6.jpg" alt="imagen0" class="imageShort">
                <div class="overlayButton">
                    <div class="textAuth">Estado: Privado</div>
                    <div class="icons">
                        <a href="#"><img src="../../Assets/Icons/pencil.svg" alt="heart" class="pencilIcon"></a>
                        <a href="#"><img src="../../Assets/Icons/trash.svg" alt="download" class="trashIcon"></a>
                    </div>
                </div>
                <div class="overlayTop">
                    <div class="icons">
                        <img src="../../Assets/Icons/heartWhite.svg" alt="heart" class="voteIcon">
                        <p class="textVote">30</p>
                        <img src="../../Assets/Icons/download.svg" alt="download" class="downloadIcon">
                        <p class="textDownload">20</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnRight">
            <div class="container">
                <img src="../../Assets/Images/imagen3.jpg" alt="imagen0" class="imageLong">
                <div class="overlayButton">
                    <div class="textAuth">Estado: Privado</div>
                    <div class="icons">
                        <a href="#"><img src="../../Assets/Icons/pencil.svg" alt="heart" class="pencilIcon"></a>
                        <a href="#"><img src="../../Assets/Icons/trash.svg" alt="download" class="trashIcon"></a>
                    </div>
                </div>
                <div class="overlayTop">
                    <div class="icons">
                        <img src="../../Assets/Icons/heartWhite.svg" alt="heart" class="voteIcon">
                        <p class="textVote">30</p>
                        <img src="../../Assets/Icons/download.svg" alt="download" class="downloadIcon">
                        <p class="textDownload">20</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>