{% extends "layouts/base.html"%}

{% block title %}Nueva imagen{% endblock %}
{% block css %}
<link rel="stylesheet" href="../../static/css/UploadView/navbar.css">
<link rel="stylesheet" href="../../static/css/UploadView/form.css">
<link rel="stylesheet" href="../../static/css/UploadView/footer.css">
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #9f9f9f !important;">
  <div class="col-md-1">
    <a class="navbar-brand" href="#"><img class="logo-navbar" src="../../static/images/Logo.png" alt="logo"></a>
  </div>
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>Hola, Laura</b></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../LandingPage/main.html"><b>Cerrar sesión</b></a>
      </li>
    </ul>
  </div>
</nav>
<nav>
  <div class="nav-underline shadow  mb-5 bg-white ">
    <ul class="nav justify-content-center secondaryNavBar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../InSession/inSession.html"><img src="../../static/icons/images.svg" alt="logoSearch"
            class="logoSearch"><b>Mis imágenes</b></a>
        <div class="underline-inactive-bar"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../static/icons/load.svg" alt="logoSearch"
            class="logoSearch"><b>Cargar imagen</b></a>
        <div class="underline-active-bar"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Updateview/update.html"><img src="../../static/icons/update.svg" alt="logoSearch"
            class="logoSearch"><b>Actualizar imagen</b></a>
        <div class="underline-inactive-bar"></div>
      </li>
    </ul>
  </div>
</nav>
{%from "layouts/_macro.html" import render_field%}
<form method = "POST" enctype = "multipart/form-data" action = "" >
  <div class="uploadForm">
    <div class="containerImage">
      <img id="preview" class="uploadImage" src="../../static/images/newImage.JPG">
      {{render_field(form.image, class_="buttonImage", accept="image/jpeg,image/png", id="file")}}
      <!-- <input id="file" type="file" accept="image/jpeg,image/png" class="buttonImage"> -->
    </div>
    <div class="containerForms">
      <label for="name">Nombre</label>
      <br>
      {{render_field(form.title, class_="singIn-btn1 form-control", placeholder="Nombre de la imagen", id="name")}}
      <br>
      <label for="description">Descripción</label>
      <br>
      {{render_field(form.description, class_="form-control textarea", placeholder="Descripción", rows="8", id="description")}}
      <br>
      <label for="status">Estado de visibilidad</label>
      <br>
      <div class="row">
        {{render_field(form.status, id="switch", class_="check")}}
        <label id="statusImag" class="label">Privado</label>
      </div>
      <input type="submit" class="btn btnUpload" value="Cargar imagen">
      <!-- <button type="button" class="btn btnUpload">Cargar imagen</button> -->
      <button type="button" class="btn btnCancel">Cancelar proceso</button>
</form>
</div>
</div>

<div class="footer">
  <div class="text-center footer-in py-3">
    <div class="text-center">Términos y condiciones <span class="mx-4"></span>Políticas de privacidad</span>
    </div>
  </div>
  <div class="text-center footer-down py-2">
    <div class="text-center">© 2020 PHOTOS . Todos los derechos reservados . Diseñado por Grupo E</div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../../static/js/upload.js"></script>
{% endblock %}