.logo-navbar {
    width: 100%;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.input-group.md-form.form-sm.form-2 input.gray-border {
    border: 1px solid #9f9f9f;
}
.logoSearch{
    padding-right: 10px;
    padding-left: 5px;
}
#logoSearch-btn{
    border: 1px solid black;
}
.header {
    background: url(../../Assets/Images/Fondo.jpg) no-repeat center;
    background-size: cover;
    min-height: 70vh;
}

.nav-link{
    color: #000;
}
.secondaryNavBar-nav{
    padding-top: 5px;
}
.underline-active-bar{
    width: 100%; 
    height: 1; 
    border: 1.5px solid #000;
    background: #000;
    border-radius: 20px;
}
.underline-inactive-bar{
    display: none;
}
.nav-link:hover{
    color: #A6C4FE !important;
}
.navbarSupportedContent{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100px;
    margin-left: -50px;
    top: 230px;
    margin-top: -50px;
}
.fixed-top{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 60px;
}